<h2>Groups you own</h2>

<ul>
<% @groups.each do |group| %>
    <% if group.owner_id == @user_id %>
      <li><b><%= link_to group.name, group_path(group) %></b></li>
    <% end %>
<% end %>
</ul>


<h2>Other groups you are subscribed to</h2>


<ul>
<% @groups.each do |group| %>
    <% if group.owner_id != @user_id %>
      <li><b><%= link_to group.name, group_path(group) %></b></li>
    <% end %>
<% end %>
</ul>

<%= link_to "Create group", new_group_path, html_options={class: "inlinelink"} %> --
<%= link_to "Join group", new_subscription_path, html_options={class: "inlinelink"} %>
