<h2>Groups you own</h2>

<ul>
<% @groups_owned.each do |group| %>
    <li><b><%= link_to group.name, group_path(group) %></b></li>
<% end %>
</ul>


<h2>Other groups you are subscribed to</h2>


<ul>
<% @other_groups_subscribed_to.each do |group| %>
    <li><b><%= link_to group.name, group_path(group) %></b></li>
<% end %>
</ul>

<%= link_to "Create group", new_group_path, html_options={class: "inlinelink"} %> --
<%= link_to "Join group", new_subscription_path, html_options={class: "inlinelink"} %>
