
<h2><%= @show_user.full_name %>'s Posts</h2>

<ul>
<% @show_user_posts.each do |post| %>
<li><%= link_to post.title, post_path(post) %>, by
<%= post.user.username %><br>
<%= post.short_content %>
</li>
<% end %>
</ul>