p,li { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.35; }

li.comment { border-style:groove; padding:5px; margin:9px; list-style:none;}


form { display: inline; }

h1,h2,h3,h4,h5,h6 { font-family: "Trebuchet MS", Helvetica, sans-serif;
     color: #4a5870 }

h1#nucleus { color: #FFFFFF; }

#content { position: absolute;
  left: 50px; 
  padding-right: 230px;
  top: 120px;}

img.post { max-width: 450px; max-height: 1000px; }

input[type=submit].logout { background-image: url("/assets/logout.png");  }

input[type=submit] {
  background: #02A2C7;
  border: none;
  padding: 5px;
  font-weight:bold;
  margin: 3px;
  color: white;
}

img.thumbnail { max-width: 50px; max-height: 50px; }

#sidebar { position: fixed;
  width: 180px;
  height: 400px;
  top: 120px;
  right: 0px;
  line-height: 1.5;
  padding: 20px;
  z-index: 1;
  background-color: #FFFFFF; }

#titlebar { position:fixed;
  width:100%;
  height:110px;
  top:-10px;
  left:0px;
  padding-left: 50px;
  background-color: #515151;
  z-index: 1;
}

a.sidebarlink { font-size: 20pt;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold; }

a.inlinelink { font-size: 15pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-weight: bold; }

a:active,a:hover { color: #005dff; text-decoration: underline; }

a { color: #4a5870; text-decoration: none; }

